
{% extends "base.template" %}

{% block head%}
    <script src="/static/scripts/d3.v5.min.js"></script>
    <link href="/static/css/c3.min.css" rel="stylesheet">
    <script src="/static/scripts/c3.min.js"></script>
    <script src="/static/scripts/app/country.js"></script>
{% endblock %}

{% block content %}
   <h2>{{ country }}</h2> <span id="country_id" hidden>{{ country }}</span>
   <hr>

   <div id="chart_deaths" class="chart_div"></div>

   <hr>
   
   <div id="chart" class="chart_div"></div>
  
{% endblock content %}

{% block scripts %}
   <script src="/static/scripts/jquery.tablesorter.js"></script>
{% endblock scripts %}